<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.fuck.fishfarming">
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <uses-permission android:name="android.permission.CALL_PHONE"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAPTURE_AUDIO_OUTPUT"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>



    <application
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="wQNGfUMeOwFSO9dF0y9QjpG1VkpK5Cib"/>

        <activity android:name=".activity.LaunchActivity"
            android:theme="@android:style/Theme.DeviceDefault.NoActionBar.Fullscreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.LoginActivity" android:screenOrientation="portrait">
        </activity>
        <activity android:name=".activity.MainActivity" android:screenOrientation="portrait">
    </activity>
        <activity android:name=".activity.TabActivity" android:screenOrientation="portrait">
        </activity>
        <activity android:name=".activity.NewsActivity" android:screenOrientation="portrait">
        </activity>
        <activity android:name=".web.WebActivity" android:screenOrientation="portrait">
        </activity>
        <activity android:name=".activity.HistoryActivity" android:screenOrientation="portrait">
        </activity>
        <activity android:name=".activity.SettingActivity" android:screenOrientation="portrait">
        </activity>

        <meta-data android:value="7bf042c2cda162d5435f7d6d1aaf2080" android:name="BUG_HD_SDK_GENERAL_KEY" />

    </application>

</manifest>